body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
    aspect-ratio: auto;
}

.btnMainPrincipal{

    display: inline-flex;
    align-items: center;
    background: #2f4256;
    padding: 6px;
    border-radius: 999px;
    gap: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
    width: fit-content;
    margin: 40px auto;
}

.btnMainPrincipal button {

    border: none;
    background: transparent;
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s;
}

.btnMainPrincipal button.active{
    background: #3CBF5B;
    color: black;
}

.btnMainPrincipal button:not(.active):hover{
    background: rgba(255,255,255,.08);
}