
#imgPrincipal {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://picpay.com/pt-br/media_1640c26f085d1d4187a4490a8a885f91c562b95ea.webp?width=2000&format=webp&optimize=medium");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    
}

h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
}

h2{
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 24px;
}

.btnMainPrincipal{

    display: flex;
    align-items: center;
    background: #2f4256;
    padding: 6px;
    border-radius: 999px;
    gap: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
    width: min-content;
    margin-top: 40px;
    margin-left: 50%;
}

 .btnMainPrincipal button {

    border: none;
    background: transparent;
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s;
} 

.btnMainPrincipal button.active{
    background: #3CBF5B;
    color: black;
}

.btnMainPrincipal button:not(.active):hover{
    background: rgba(255,255,255,.08);
} 

.btnAbrirContaPrincipal{
    
    background: transparent;
    color: rgb(253, 251, 251);
    font-size: 20px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s;

}

.btnAbrirContaPrincipal:hover{
    background-color: white;
    color: black;

}
