.telaServicos{
    font-family: 'Manrope', sans-serif;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 60px 50px;
}

.textServicos{
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
}

.card{
    min-height:224px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:16px;
    padding:24px;
    background:#e6e6e6;
    border-radius:24px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    background:#cfcece;
}

.icone{
    font-size:42px;
    color:#080808;
}

.card h3{
    font-size:30px;
    font-weight:600;
    color:#080808;
}

.card p{
    font-size:16px;
    color:#080808;
    line-height:1.5;
}

.imgcards{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    gap: 70px;
}

.textMais{
    font-size:50px;
    font-weight:600;
    color:#000;
    margin-top:80px;
    margin-bottom:48px;
    line-height:1.1;
}

.imgcards img{
    display: block;
    width: 700px;
    height:624px;
    object-fit:cover;
    border-radius:24px;
    margin-top: 80px;
}

.cards_img{
    background-color: transparent;
    position: absolute;
    right: 40px;
    bottom: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.cardsgrid{
    
    padding: 16px;
    height: 200px;
    width: 180px;
    background-color: #38b160;
    border-radius: 24px;

} 