header{
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    max-width: 1440px;
    padding: 0 20px;
    height: 80px;
}

#imgLogo{
    
    width: 123px;
    height: 40px;
}

.btnNavegar {

    display: flex;
    gap: 10px;

}

#btnAreaCliente{
    display: block;
    order: -1;
    max-height: 32px;
    font-size: 14px;
    width: fit-content;
    background-color: #e6e6e6;
    border: 2px solid transparent;
    color: black;
    border-radius: 100px;
    padding: 5px 10px 12px;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
                    
}

#btnAreaCliente:hover{

    background-color: #dfdddd;
}

#btnAbrirConta{
    
    display: block;
    order: -1;
    max-height: 32px;
    font-size: 14px;
    width: fit-content;
    background-color: #38b160;
    transition: (0.15s ease);
    border: 2px solid transparent;
    color: black;
    border-radius: 100px;
    padding: 5px 10px 12px;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
}

#btnAbrirConta:hover{

    background-color: #1e7c3d;
}

#btnPesquisa, #btnMenu {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 40px;
    background-color: #e6e6e6;
    cursor: pointer;
}



